
body {
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  color: aliceblue;
}

.enlarge {
  transition: ease 500ms;
  transform: scale(0.8);
}

.enlarge:hover {
  transform: scale(1);
}

.center {
  text-align: center;
  align-self: center;
  justify-self: center;
}